---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';

import MainView from '@/components/MainView'

import '@/styles/globals.css'

import {getDirectory} from '@/lib/getDirectory'

import path from 'path';

// import {db} from '@/lib/db'

// Ensure the component runs at runtime
// export const prerender = false;

if (!Astro.locals.user) {
    return Astro.redirect("/login")
}


// Define the directory you want to list
// const directoryPath = path.join("/home/icass", Astro.params.path || ""); // replace 'your-directory' with the path
const directoryPath = path.join(Astro.locals.user.scope, Astro.params.path || ""); // replace 'your-directory' with the path


// Read the directory
let directoryListing = undefined;
try {

    directoryListing = await getDirectory(directoryPath)

} catch (error) {
  console.error('Error reading directory:', error);
}

---
<Layout title={Astro.params.path ? Astro.params.path.split("/")[Astro.params.path.split("/").length -1] :  "FileBrowser"}>
    <div class="h-full m-4 pb-8 flex flex-col">
        <Header/>
        <MainView directoryListing={directoryListing} path={Astro.params.path as string} client:visible/>
    </div>
</Layout>