---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';

import Details from '@/components/FileViews/Details.astro';

import {ScrollArea} from '@/components/ui/scroll-area'
import {getDirectory} from '@/lib/getDirectory'

import path from 'path';

// Ensure the component runs at runtime
export const prerender = false;

console.log(Astro.locals.user)


// Define the directory you want to list
const directoryPath = path.join("/home/icass", Astro.params.path || ""); // replace 'your-directory' with the path

// Read the directory
let directoryListing = undefined;
try {

    directoryListing = await getDirectory(directoryPath)

} catch (error) {
  console.error('Error reading directory:', error);
}

---
<Layout title={Astro.params.path ? Astro.params.path.split("/")[Astro.params.path.split("/").length -1] :  "FileBrowser"}>
    <div class="h-full p-4 flex flex-col">
        <Header/>
        <ScrollArea className="h-full relative" client:visible>
            {directoryListing ? 
                <div class="grid grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))]  gap-2">
                   {
                        directoryListing.map((file) => (
                            <Details file={file}/> 
                        ))
                    }
                </div>
                :
                <div class="text-accent font-bold text-4xl ml-auto mr-auto mt-32 w-fit">Directory not found</div>
            }
        </ScrollArea>
    </div>
</Layout>